{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block page_header %}
{% endblock %}

{% block content %}
 

    <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 logo-font text-color">
                Browse our products and books here
            </h1>
            <p class="lead">Looking to change your life? Browse our collection of Exercise equipment and Nutrition books.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <div >
                    <h4 style="padding-bottom: 15px;">
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="https://the-veggie-guy-fitness.s3.eu-west-2.amazonaws.com/media/pexels-nathan-cowley-1153369.jpg" alt="" width="720">
          </div>
        </div>
      </div>
      <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 logo-font text-color">
                Browse our Nutrition books
            </h1>
            <p class="lead">We have books to suit a wide range of people. From standard to special diets we have something for everyone.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <div >
                    <h4 style="padding-bottom: 15px;">
                        <a href="{% url 'products' %}" class="shop-now-button2 btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="https://the-veggie-guy-fitness.s3.eu-west-2.amazonaws.com/media/pexels-madison-inouye-2180092.jpg" alt="" width="720">
          </div>
        </div>
      </div>
      <div class="container my-5">
        <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
          <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 logo-font text-color">
                Browse our Exercise Equipment
            </h1>
            <p class="lead">Setting up a home gym? Looking to get fit? Check out our range of equipment.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
                <div >
                    <h4 style="padding-bottom: 15px;">
                        <a href="{% url 'products' %}" class="shop-now-button3 btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </h4>
                </div>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
              <img class="rounded-lg-3" src="https://the-veggie-guy-fitness.s3.eu-west-2.amazonaws.com/media/pexels-karolina-grabowska-4397841.jpg" alt="" width="720">
          </div>
        </div>
      </div>
{% endblock %}