{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Thank You</h2>
                <hr>
                <p class="text-black">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="order-confirmation-wrapper p-2 border table_div">
                    <h3>Order Information</h3>
                    <table class="table">
                        <tbody>
                          <tr>
                            <th scope="row">Order Number</th>
                            <td  class="text-break">{{ order.order_number }}</td>
                          </tr>
                          <tr>
                            <th scope="row">Order Date</th>
                            <td>{{ order.date }}</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="order-confirmation-wrapper p-2 border table_div">
                    <h3>Order Summary</h3>
                    <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Order Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">
                            {% for item in order.lineitems.all %}
                            {{ item.product.name }}
                            {% endfor %}
                        </th>
                        <td>
                            {% for item in order.lineitems.all %}
                            {{ item.quantity }} @ ${{ item.product.price }} each
                            {% endfor %}
                        </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <div class="order-confirmation-wrapper p-2 border table_div">
                    <h3>Delivering to:</h3>
                    <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Full Name
                            </th>
                            <td>
                                {{ order.full_name }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Address Line 1
                            </th>
                            <td>
                                {{ order.street_address1 }}
                            </td>
                        </tr>
                        {% if order.street_address2 %}
                        <tr>
                            <th scope="row">
                                Address Line 2
                            </th>
                            <td>
                                {{ order.street_address2 }}
                            </td>
                        </tr>
                        {% endif %}
                        {% if order.county %}
                        <tr>
                            <th scope="row">
                                County
                            </th>
                            <td>
                                {{ order.county }}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">
                                Town or City
                            </th>
                            <td>
                                {{ order.town_or_city }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Postal Code
                            </th>
                            <td>
                                {% if order.postcode %}
                                    {{ order.postcode }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Country
                            </th>
                            <td>
                                {{ order.country }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Phone Number
                            </th>
                            <td>
                                {{ order.phone_number }}
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                <div class="order-confirmation-wrapper p-2 border">
                    <h3>Billing Information:</h3>
                    <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">
                                Order Total
                            </th>
                            <td>
                                £{{ order.order_total }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Delivery Fee
                            </th>
                            <td>
                                {% if order.order_total > 50 %}
                                Free on orders above £50
                                {% else %}
                                £{{ order.order_total }}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                Grand Total (inc VAT)
                            </th>
                            <td>
                                £{{ order.grand_total }}
                            </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-7 text-right">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-black rounded-0 my-2">
                        <span class="text-uppercase btn btn-primary">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="btn btn-black rounded-0 my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-gifts"></i>
                        </span>
                        <span class="text-uppercase btn btn-primary">Continue Shopping!</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}