<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="{% url 'home' %}" class="logo-font font-weight-bold nav-link text-black mr-5">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href=" {% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="plan-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nutrition Plans
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="plan-link">
                <a href="{% url 'products' %}?category=Vegan" class="dropdown-item">Vegan</a>
                <a href="{% url 'products' %}?category=Vegetarian" class="dropdown-item">Vegetarian</a>
                <a href="{% url 'products' %}?category=Vegan,Vegetarian" class="dropdown-item">All Plans</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="excercise-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exercise Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="excercise-link">
                <a href="{% url 'products' %}?category=Cardio" class="dropdown-item">Cardio Equipment</a>
                <a href="{% url 'products' %}?category=Weights" class="dropdown-item">Weights/Other</a>
                <a href="{% url 'products' %}?category=Weights,Cardio" class="dropdown-item">All Equipment</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a href="https://cook-book-antony.herokuapp.com/" target="_blank" class="logo-font font-weight-bold nav-link text-black mr-5">
                Cookbook
            </a>
        </li>
        <li class="nav-item dropdown">
            <a href="{% url 'contact' %}" class="logo-font font-weight-bold nav-link text-black mr-5">
                Contact
            </a>
        </li>
    </ul>
</div>