{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
{% block page_header %}
{% endblock %}

{% block content %}

<div class="container mb-2">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Contact Us</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6" style="margin-bottom: 50px;">
            <p class="text-muted">Please fill out the form below to contact us. All information is private and will not be shared with anyone.</p>
            <form class="form update-form" method="POST" action="{% url 'contact_form_post' %}">{% csrf_token %}
                <div class="mb-3">
                    <label for="fullName" class="form-label">Full Name</label>
                    <input type="name" class="form-control" id="fullName" name="full_name" required>
                  </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email Address</label>
                  <input type="email" class="form-control" id="email" name="email"  required>
                </div>
                <div class="mb-3">
                    <div class="input-group">
                        <span class="input-group-text" id="message">Message</span>
                        <textarea class="form-control" name="message" required></textarea>
                    </div>
                </div>
            <button class="btn btn-success form_post_btn">Submit Form</button>    
            <button class="btn btn-danger form_reset_btn" type="reset">Reset</button>  
            </form>
        </div>
    </div>

    
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    
{% endblock %}